./.idea
./.DS_Store
utils/data.txt
users/users
neverHaveIEver/neverHaveIEver
fortuneCookie/fortuneCookie
flowers/flowers
bot/bot
aneks/aneks
tost/tost
aneks/src
bot/secrets.go
dialogflow/creds.json
dialogflow/mystical-app-268910-cfd510cf88f3.json
aneks/.DS_Store