./.idea
./.DS_Store
utils/data.txt
users/users
neverHaveIEver/neverHaveIEver
fortuneCookie/fortuneCookie
flowers/flowers
bot/bot
aneks/aneks
tost/tost
aneks/src
bot/secrets.go
dialogflow/creds.json
aneks/.DS_Store
bot/testbot.sh
bot/prodbot.sh